.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 7.5px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 20px;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.cellTable {
    position:absolute;
    top: 1px;
    width: 600px;
    border-collapse: collapse; border: 1px solid black;
    background: lightgreen;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 0 auto;
}

.buttonPanel{
    margin: 10% auto;
    margin-left: 65px;
}

.buttonPanelRegistrationPage{
    margin: 10% auto;
    margin-left: 0px;
}

.textBox{
    color: red;
}
.simplePanel{
    margin-top: 100px;
    margin-left: 450px;
}
